

NET "AN[0]" LOC = K14;
NET "AN[1]" LOC = M13;
NET "AN[2]" LOC = J12;
NET "AN[3]" LOC = F12;
NET "CLK" LOC = B8;
NET "DISP[0]" LOC = L14;
NET "DISP[1]" LOC = H12;
NET "DISP[2]" LOC = N14;
NET "DISP[3]" LOC = N11;
NET "DISP[4]" LOC = P12;
NET "DISP[5]" LOC = L13;
NET "DISP[6]" LOC = M12;
NET "EN" LOC = P11;
NET "RST" LOC = A7;
NET "STYLE" LOC = L3;
NET "Speed" LOC = K3;


NET "EN" IOSTANDARD = LVCMOS25;

# PlanAhead Generated physical constraints 

NET "LEDs[0]" LOC = M5;
NET "LEDs[1]" LOC = M11;
NET "LEDs[2]" LOC = P7;
NET "LEDs[3]" LOC = P6;
NET "LEDs[4]" LOC = N5;
NET "LEDs[5]" LOC = N4;
NET "LEDs[6]" LOC = P4;
NET "LEDs[7]" LOC = G1;
